extends ./layout
block contenido
    div(class="col-md-8 remove-float center-block text-center big-top-space")
        h1 Bienvenidos a INICIO DE SESION
        div(class="btn-group")
            a(href="/login",class="btn btn-primary") Iniciar sesión
            a(href="/signup" class="btn btn-warning") Registro
