extends ./layout
block contenido
    div(class="col-md-4 remove-float center-block text-center big-top-space")
        form(action="/sessions",method="POST")
            div(class="form-group")
                label(for="email") Email
                input(type="text",name="email",id="email",placeholder="Correo Electr칩nico",class="form-control")
            div(class="form-group")
                label(for="password") Contrase침a
                input(type="password",name="password",id="password",placeholder="Contrase침a",class="form-control")
            div(class="btn-group")
                input(type="submit",value="Iniciar sesi칩n",class="btn btn-primary")
                a(href="/signup",class="btn btn-warning") Crear un usuario