extends ../../layout
block contenido
    div(class="col-md-4 remove-float center-block text-center big-top-space")
        h1 Editar imagen
        form(action="/app/imagenes/#{imagen.id}?_method=PUT",method="POST")
            div(class="form-group")
                label(for="title") Titulo
                input(type="text",name="title",id="title",placeholder="Titulo de la Imagen",class="form-control",value="#{imagen.title}")
            div(class="btn-group")
                input(type="submit",value="Guardar",class="btn btn-primary")